html 
    head 
        title
            | #02
        link(rel="stylesheet", href="style.scss")
        script(type="module", src="main.js")
    body
        .container
        button.reset Reset
        span 
            | wasd to move, mouse to look