html 
    head 
        title
            | #02
        link(rel="stylesheet", href="/02/style.scss")
        script(type="module", src="/02/main.js")
    body
        .container
        button.reset Reset
        span 
            | wasd to move, mouse to look